 

1. ) Load data into a Spark dataframe

In [1]:

val df = spark.read.option("inferSchema","True").option("header","True").csv("/notebook/worldsales.csv")

2.) Create Schema

In [3]:

df.createOrReplaceTempView("df_view")

3.) Print the Schema

In [5]:

df.printSchema()

4.) Aggregate the dataframe via group by “Region” and count

In [7]:

val filtered_df = df.filter($"Units_Sold" > 8000 && $"Unit_Cost" > 500)
filtered_df.show()

5.) Create a separate dataframe with the above group by results

In [9]:

val aggregated_df = df.groupBy("Region").count()
aggregated_df.show()

6.) Save this new subset dataframe as a csv file into HDFS – make sure it is saved as a single file in HDFS

In [11]:
aggregated_df.write.option("header","true").csv("notebook/region_count.csv")

7.) Create two views using the “createOrReplaceTempView” command

8.) View on “Salesview” from the first dataframe

In [14]:

df.createOrReplaceTempView("SalesView")

9.) View on “Regionview” from the second dataframe

In [16]:

df.createOrReplaceTempView("RegionView")

 
10.) Using SQL select all from “Regionview” view and show in a line graph.

In [18]:

%sql
SELECT * FROM RegionView

11.) Using SQL, from the “Salesview” view, Select the region and sum of units sold, and group by region

In [20]:

%sql
SELECT region, SUM(units_sold) AS TotalUnitsSold
FROM Salesview
GROUP BY region;

12.) Using SQL select from the “Salesview” view – the region and sum of total_profit and group by region and display in a Bar chart

In [22]:

%sql
SELECT Region, SUM(Total_Profit) AS total_profit
FROM Salesview
GROUP BY Region;

13.) Using SQL select from the “Salesview” view – show the total profit as profit, the total revenue as revenue and the total cost as cost from “Salesview”, group by region

In [24]:

%sql
SELECT 
    Region, 
    SUM(Total_Profit) AS profit,
    SUM(Total_Revenue) AS revenue,
    SUM(Total_Cost) AS cost 
FROM 
    Salesview
GROUP BY 
    Region;

14.) The client is in the process of opening up a new store and they are looking at the best location to do so - They need to see the avg profit in each region as a percentage (pie chart) compared to other regions.

In [26]:
%sql

WITH RegionProfit AS (
    SELECT 
        Region,
        AVG(Total_Profit) AS avg_profit
    FROM 
        Salesview
    GROUP BY 
        Region
),
TotalAvgProfit AS (
    SELECT 
        AVG(Total_Profit) AS total_avg_profit
    FROM 
        Salesview
)
SELECT 
    r.Region,
    (r.avg_profit / t.total_avg_profit) * 100 AS avg_profit_percentage
FROM 
    RegionProfit r, TotalAvgProfit t;

In [27]:
%python
%%sql

%python